@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/user-interface";

$chosen-sprite: image-url('chosen-sprite.png') !default;
$chosen-sprite-retina: image-url('chosen-sprite@2x.png') !default;

$chosen-height: 27px;
$chosen-radius: 4px;

$chosen-background: #fff;
$chosen-border: #aaa;
$chosen-highlight: #3875d7;
$chosen-text: #444;

/* @group Base */
.chosen-container {
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  @include user-select(none);
  position: relative;
  vertical-align: middle;
  * {
    @include box-sizing(border-box);
  }
  .chosen-drop {
    background: $chosen-background;
    border: 1px solid $chosen-border;
    border-radius: $chosen-radius;
    box-shadow: 0 2px 8px rgba(#000, 0.2);
    left: -9999px;
    margin-top: 2px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1010;
  }
  &.chosen-with-drop .chosen-drop {
    left: 0;
  }
  a {
    cursor: pointer;
  }

  /* What is this? */
  .group-name {
    font-weight: bold;
    margin-right: 4px;
    &:after {
      content: ":";
    }
  }
}
/* @end */

/* @group Single Chosen */
.chosen-container-single {
  .chosen-single {
    background: $chosen-background;
    border: 1px solid $chosen-border;
    border-radius: $chosen-radius;
    color: $chosen-text;
    display: block;
    height: $chosen-height;
    line-height: $chosen-height - 2px;
    overflow: hidden;
    padding: 0 25px 0 8px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.chosen-default {
      color: #999;
    }
    /* down arrow */
    > div {
      background: $chosen-sprite no-repeat 0 3px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 18px;
    }
    /* deselect icon */
    &.chosen-single-with-deselect {
      padding-right: 45px;
      > abbr {
        background: $chosen-sprite no-repeat -42px 1px;
        height: 12px;
        position: absolute;
        right: 28px;
        top: 7px;
        width: 12px;
        &:hover {
          background-position: -42px -10px;
        }
      }
    }
  }
  /* active */
  &.chosen-container-active .chosen-single {
    border-color: $chosen-highlight;
    outline: auto 5px -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .chosen-search {
    margin: 0 0 5px;
    position: relative;
    white-space: nowrap;
    z-index: 1010;
    input[type="text"] {
      background: $chosen-background $chosen-sprite no-repeat right -20px;
      border: 1px solid $chosen-border;
      border-radius: $chosen-radius - 1px;
      box-shadow: inset 0 1px 2px rgba(#000, 0.1);
      font-family: sans-serif;
      font-size: 1em;
      height: auto;
      line-height: normal;
      margin: 1px 0;
      outline: 0;
      padding: 4px 22px 4px 7px;
      width: 100%;
      &:focus {
        border-color: $chosen-highlight;
      }
    }
  }
  &.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
  }
}
/* @end */

/* @group Results */
.chosen-container {
  ul.chosen-results {
    color: $chosen-text;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-overflow-scrolling: touch;
    li {
      border-radius: $chosen-radius - 1px;
      display: none;
      line-height: 15px;
      list-style: none;
      margin: 0;
      padding: 5px 8px;
      word-wrap: break-word;
      -webkit-touch-callout: none;
      &.active-result {
        display: list-item;
        cursor: pointer;
      }
      &.disabled-result {
        display: list-item;
        color: #ccc;
        cursor: default;
      }
      &.result-selected {
        display: list-item;
        &:after {
          content: " ✔";
          float: right;
        }
      }
      &.highlighted {
        background-color: $chosen-highlight;
        color: #fff;
      }
      &.no-results {
        color: #999;
        display: list-item;
        font-style: italic;
      }
      &.group-result {
        display: list-item;
        font-weight: bold;
        cursor: default;
      }
      &.group-option {
        padding-left: 15px;
      }
      em {
        font-style: normal;
        text-decoration: underline;
      }
    }
  }
  &.chosen-container-multi ul.chosen-results li.result-selected {
    color: #999;
    cursor: default;
  }
}
/* @end */

/* @group Multi Chosen */
.chosen-container-multi {
  .chosen-choices {
    background-color: $chosen-background;
    border: 1px solid $chosen-border;
    border-radius: $chosen-radius;
    box-shadow: inset 0 1px 2px rgba(#000, 0.1);
    cursor: text;
    height: auto !important;
    margin: 0;
    padding: 0 4px;
    position: relative;
    overflow: hidden;
    width: 100%;
    li {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      &.search-field input[type="text"] {
        background: transparent !important;
        border: 0 !important;
        color: #999;
        font-family: sans-serif;
        font-size: 100%;
        height: $chosen-height;
        line-height: $chosen-height;
        margin: 0;
        padding: 0 0 0 4px;
        outline: 0;
      }
      &.search-choice {
        background-color: #eee;
        border: 1px solid $chosen-border;
        border-radius: $chosen-radius - 1px;
        color: $chosen-text;
        cursor: default;
        line-height: 13px;
        margin: 3px 4px 3px 0;
        max-width: 100%;
        padding: 3px 20px 3px 5px;
        position: relative;
        word-wrap: break-word;
        .search-choice-close {
          position: absolute;
          top: 4px;
          right: 3px;
          display: block;
          width: 12px;
          height: 12px;
          background: $chosen-sprite -42px 1px no-repeat;
          font-size: 1px;
          &:hover {
            background-position: -42px -10px;
          }
        }
      }
    }
    &.search-choice-disabled {
      border-color: #ccc;
      color: #999;
    }
  }
  /* active */
  &.chosen-container-active {
    .chosen-choices {
      border-color: $chosen-highlight;
      outline: auto 5px -webkit-focus-ring-color;
      outline-offset: -2px;
      li.search-field input[type="text"] {
        color: $chosen-text;
      }
    }
  }
}
/* @end */

/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-container-single.chosen-disabled {
  .chosen-single {
    cursor: default;
    &.chosen-single-with-deselect > abbr:hover {
      background-position: -42px 1px;
    }
  }
}
.chosen-container-multi.chosen-disabled {
  .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }
}
/* @end */

/* @group Right to Left */
.chosen-rtl {
  text-align: right;
  .chosen-single {
    padding: 0 8px 0 25px;
    > div {
      left: 8px;
      right: auto;
    }
    &.chosen-single-with-deselect {
      padding-left: 45px;
      padding-right: 8px;
      > abbr {
        left: 28px;
        right: auto;
      }
    }
  }
  .chosen-choices li {
    float: right;
    &.search-field input[type="text"] {
      direction: rtl;
    }
    &.search-choice {
      margin-left: 5px;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 5px;
      .search-choice-close {
        right: auto;
        left: 4px;
      }
    }
  }
  &.chosen-container-single-nosearch .chosen-search,
  .chosen-drop {
    left: 9999px;
  }
  &.chosen-container ul.chosen-results li {
    .group-option {
      padding-left: 0;
      padding-right: 15px;
    }
    &.result-selected:after {
      float: left;
    }
  }
  .chosen-search input[type="text"] {
    padding: 4px 7px 4px 20px;
    background-position: -29px -20px;
    direction: rtl;
  }
}
/* @end */

/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close {
    background-image: $chosen-sprite-retina !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */
