sudo: false

language: node_js

node_js:
  - 6
  - node

addons:
  apt:
    sources:
      - git-core
    packages:
      - git

matrix:
  fast_finish: true
  allow_failures:
    - node_js: node

before_install: npm install -g grunt-cli
before_script: grunt build package-npm package-bower

after_success: ./publish-package.sh

env:
  global:
    secure: FHc3fAbJDydJywQ3HcFrTxqyAmmKbiAwP5Bi3qIzvXXCKNYbZb45iSjrMPFq7sHQR/evxDKl3zzBd8k6lvx0Sr77GDkmbN7HjI22fb3wu1Pi3WhmIM90/70ATs6hSZunsNEHCtQa4fDFM3NYeOeiwHFX8HQ9tVlqtjeAZngONL8=
